<h1>You're receiving this email because someone requested a password reset for your user account at {{domain}}</h1>
<p>Follow this link to reset your password:</p>
<br/>
<a href="{{reset_url}}" style="background: #6d1010;
          padding: 10px 20px;
          margin-bottom: 20px;
          color: #fff;
          font-size: .85rem;
          text-decoration: none;
          display: inline-block;
          text-align: center;
          border-radius: 5px;">
    Reset Password
</a>
<br/>
<p>Or copy-paste the following link to your browser</p>
<p>{{reset_url}}</p>