<h2 style="color: #d9534f;">⚠️ ORDER ON HOLD ⚠️</h2>
Order {{order_id}} changed its status from "{{from_status}}" to "{{order_status}}".
<br><br><strong style="background: #fcf8e3; padding: 10px;">Please stop the production of this order as it will be updated soon!</strong>
<br><br>
{{#if reason}}
<p><strong>Reason:</strong> {{reason}}</p>
{{/if}}