{{/*
  Secret structure documentation.

  The secret "oms-nest-secrets" must be created manually in each namespace
  before deploying. It should contain the following keys:

  Required:
    DATABASE_HOST        - PostgreSQL host (e.g., db-postgresql-ams3-49861-do-user-xxx.ondigitalocean.com)
    DATABASE_PORT        - PostgreSQL port (default: 25060 for DO managed)
    DATABASE_USERNAME    - Database username
    DATABASE_PASSWORD    - Database password
    DATABASE_NAME        - Database name (e.g., oms-nest-staging)
    DATABASE_SSL_ENABLED - Set to "true" for DO managed PostgreSQL

    AUTH_JWT_SECRET      - JWT signing secret
    AUTH_JWT_TOKEN_EXPIRES_IN - JWT token expiration (e.g., 1d)
    AUTH_REFRESH_SECRET  - JWT refresh token secret
    AUTH_REFRESH_TOKEN_EXPIRES_IN - Refresh token expiration (e.g., 7d)

    REDIS_HOST           - Redis host (overridden by deployment env, but needed as fallback)
    REDIS_PORT           - Redis port

    MAIL_HOST            - SMTP host
    MAIL_PORT            - SMTP port
    MAIL_USER            - SMTP username
    MAIL_PASSWORD        - SMTP password
    MAIL_DEFAULT_EMAIL   - Default from email
    MAIL_DEFAULT_NAME    - Default from name

  Example creation:
    kubectl create secret generic oms-nest-secrets \
      --from-literal=DATABASE_HOST=<host> \
      --from-literal=DATABASE_PORT=25060 \
      --from-literal=DATABASE_USERNAME=<user> \
      --from-literal=DATABASE_PASSWORD=<pass> \
      --from-literal=DATABASE_NAME=oms-nest-staging \
      --from-literal=DATABASE_SSL_ENABLED=true \
      --from-literal=AUTH_JWT_SECRET=<secret> \
      --from-literal=AUTH_JWT_TOKEN_EXPIRES_IN=1d \
      --from-literal=AUTH_REFRESH_SECRET=<secret> \
      --from-literal=AUTH_REFRESH_TOKEN_EXPIRES_IN=7d \
      --from-literal=REDIS_HOST=oms-nest-staging-redis \
      --from-literal=REDIS_PORT=6379 \
      --from-literal=MAIL_HOST=smtp.example.com \
      --from-literal=MAIL_PORT=587 \
      --from-literal=MAIL_USER=<user> \
      --from-literal=MAIL_PASSWORD=<pass> \
      --from-literal=MAIL_DEFAULT_EMAIL=noreply@ordermysaddle.com \
      --from-literal=MAIL_DEFAULT_NAME="OMS Nest" \
      -n oms-nest-staging
*/}}
